<div class="login" style="text-align: center;">
  <div class="box" style="width: 320px;margin-left: auto;margin-right: auto;position: relative;">
    <fa-icon [icon]="faLock" style="font-size: 52px;position: absolute;top: -30px;right: 0px;color: rgb(81 81 81);"></fa-icon>
    <h1>Login</h1>
      <form class="formArea" method="post">
          <input type="text" name="u" placeholder="Username" required="required" />
          <input type="password" name="p" placeholder="Password" required="required" />
          <button type="submit" class="btn btn-primary btn-block btn-large" >Login</button>
      </form>
      <br/>
      <div style="width: 100%;"><a href="#about" style="margin-left: 0px;display: inline-block;width: 50%;">Register</a> <a href="#about" style="margin-right: 0px;display: inline-block;width: 50%;">Forgot Password?</a></div>
  </div>

</div>

